
<body>
    <nav class="navbar">
  
        <div class="logo">VACAYHOME</div>
    
        <ul class="nav-links">
         
          <input type="checkbox" id="checkbox_toggle" />
          <label for="checkbox_toggle" class="hamburger">&#9776;</label>
          <div class="menu">
           <li><a href="/adminaddlocation">Add Hotel</a></li>
           <li> <a href="/deletelocation">Check Hotel</a></li>
          <li>  <a href="/logout" (click)="logoutuser()">Log Out</a></li>
          </div>
        </ul>
      </nav>
<!-- <nav>
    <div class="container-1">
        <div class="header">VACAYHOME</div>
        <div class="nav-list">
            <a routerLink="" >Add Hotel</a>
            <a routerLink="" >Delete Hotel</a>
            <a routerLink="" >Log out</a>
        </div>
    </div>
        </nav>  -->
    </body>

