body  
{
      background-color: #191A19;
      margin:0;

}
.design-5 {
    background-color: #003638;
    width: 20vw;
    height:100vh;
    border-right: 2px solid #165e4f;
  }  
  .container-4{
    margin: 50px auto;
    width: 30vw;
    height: 80vh;
    background-color: #219F94;
    border-radius: 25px;
     margin-top: -577px; 
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    color: white;
    padding:20px;
    font-size: 25px;
  }
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 20px;
    
  }
  
  form input {
    width: 29vw;
    padding: 7px;
    border: 0px;
    border-bottom: 2px solid #003638;
    border-radius: 6px;
    outline: none; 
    background-color: transparent;
  }
  
  .signin-button{
      text-align:center ;
      background-color:#003638 ;
      color: white;
      border: 0px;
      width: 30vw;
      padding: 10px;
      border-radius: 10px;

  }
  .signin-button:hover{
    box-shadow: 10px 10px 25px #003638;
    
  }