<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="signin.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1292e5dcec.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="design-5"></div>
    <div class="container-4"> <p style="text-align:center;font-size: 30px;margin-top: 0px;">Hii Buddy!</p>
        <form #signin="ngForm" (ngSubmit)="SigninData(signin.value)" 
        >
            <label for="username"><i class="fa-solid fa-user"style="padding-right:7px;"></i>   Username </label>
            <input  type="text" name="username"  #username="ngModel" id="username"  value=""  ngModel/>
            <br>
            <label for="email"><i class="fa-solid fa-envelope"style="padding-right:7px;"></i>   Email </label>
            <input  type="email" name="email"  #email="ngModel" id="email"  value="" ngModel/>
            <br>
            <label for="password"><i class="fa-solid fa-lock" style="padding-right:7px;"></i>Password </label>
            <input type="password" name="password"  #password="ngModel" id="password"  value="" ngModel/>
            <br>
            <label for="confirm-password"><i class="fa-solid fa-lock" style="padding-right:7px;"></i>Confirm Password </label>
            <input type="password" name="confirm-password" #confirmpassword="ngModel"  id="confirm-password"  value="" ngModel/>
            <br>
            <br>
            <label for="submit"></label>
            <input class="signin-button" type="submit"   value="Signin" ngModel/>

        </form>




