<body>
    <nav class="navbar">
  
        <div class="logo">VACAYHOME</div>
    
        <ul class="nav-links">
         
          <input type="checkbox" id="checkbox_toggle" />
          <label for="checkbox_toggle" class="hamburger">&#9776;</label>
          <div class="menu">
           <li><a href="/login">Log in</a></li>
           <li> <a href="/signin">Sign in</a></li>
    
          </div>
        </ul>
      </nav>
    <img src="../../assets/image/clip-destination-point-1.png" alt="destination-point">
    <p>Come on vacation with us</p>
    <span class="caption">...Make our hotel another home for you.</span>
    <span class="end">Thank You!!</span>
</body>