<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1292e5dcec.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="design-4"></div>
    <div class="container-3"> <p style="text-align:center;font-size: 30px;margin-top: 10px;margin-bottom: 10px;">Welcome!</p>
        <p class="content-5">Log in to continue...</p>
        <form>
            <label for="email"><i class="fa-solid fa-envelope"style="padding-right:7px;"></i>  Email </label>
            <input  type="email" name="email" id="email"  value=""/>
            <br>
            <label for="password"><i class="fa-solid fa-lock" style="padding-right:7px;"></i>Password </label>
            <input type="password" name="password" id="password"  value=""/>
            <br>
            <br>
            <label for="submit"></label>
            <input class="login-button" type="button" name="submit" id="submit"  value="Login"/>

        </form>
      <!-- <p style="font-size: 15px;text-align: center;">  Admin Login:<a href=""style="text-decoration:none;">Click Here</p> -->
    </div>
</body>
</html>

