
.design-5 {
    background-color: #003638;
    width: 20vw;
    height:110vh;
    border-right: 2px solid #165e4f;
  }  
  .container-4{
    margin: 50px auto;
    width: 30vw;
    height:90vh;
    background-color: #219F94;
    border-radius: 25px;
     margin-top: -600px; 
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    color: white;
    padding:20px;
    font-size: 25px;
  }
  form label {
    display: flex;
    font-size: 20px;
    margin-bottom: 0px;
    
  }
  
  form input {
    width: 27vw;
    padding: 0px 7px 7px 7px;
    border: 0px;
    border-bottom: 2px solid #003638;
    border-radius: 6px;
    outline: none; 
    background-color: transparent;
    font-size:15px; 
   
  }
  
  .signin-button{
      text-align:center ;
      color: white;
      border: 0px;
      border-radius: 10px;
      font-family: 'Dosis', sans-serif;
      font-weight:600;


  }
  .signin-button:hover{
    box-shadow: 10px 10px 25px #003638;
    
  }