
<body>
  <nav class="navbar">
  
    <div class="logo">VACAYHOME</div>

    <ul class="nav-links">
     
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>
      <div class="menu">
       <li><a href="/login">Log in</a></li>
       <li> <a href="/signin">Sign in</a></li>

      </div>
    </ul>
  </nav>
    <!-- <nav>
    <div class="container-1">
        <div class="header">VACAYHOME</div>
        <div class="nav-list">
            <a routerLink="/login" >
                Log in</a>
            <a routerLink="/signin">Sign Up</a>
        </div>
    </div>
        </nav>  -->
         <div class="container-2">
        <div class="content-1">
            Your vacation<br>Awaits...<br>
            <span style="color:#219F94;font-weight: 400;">why choose us?</span>
            <div class="content-2"><span class="design-1">...We make you fe</span>el better that at home</div>
        </div> 
         </div>  
         <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
          
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="../../assets/image/WhatsApp Image 2022-05-10 at 6.11.24 PM.jpeg" alt="room1">
              </div>
          
              <div class="item">
                <img src="../../assets/image/WhatsApp Image 2022-05-14 at 12.53.28 AM.jpeg" alt="room2">
              </div>
          
              <div class="item">
                <img src="../../assets/image/WhatsApp Image 2022-05-14 at 12.53.28 AM (2).jpeg" alt="room3">
              </div>
            </div>
          </div> 
        
</body>



