<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/1292e5dcec.js" crossorigin="anonymous"></script>

</head>
<body>
    <nav>
    <div class="container-1">
        <div class="header">VACAYHOME</div>
        <div class="nav-list">
            <a routerLink="/login" >
                Log in</a>
            <a routerLink="/signin" >Sign Up</a>
        </div>
    </div>
        </nav> 
        <div class="container-2">
        <div class="content-1">
            Your vacation<br>Awaits...<br>
            <div class="content-2"><span class="design-1">...We make you fe</span>el better that at home</div>
            <i class="fa-brands fa-twitter-square" style="margin-top:150px;"></i>
            <i class="fa-brands fa-facebook-square" style="margin-top:150px;margin-left: 5px;"></i>
            <i class="fa-brands fa-instagram-square" style="margin-top:150px;margin-left: 5px;"></i>
        </div>   
        <div>
            <div class="content-3"><span class="design-2">Comf</span>ort</div>
            <img src="../../assets/image/WhatsApp Image 2022-04-18 at 10.11.30 AM.jpeg"alt="image1" class="image">
        </div>
        <div>
            <img src="../../assets/image/WhatsApp Image 2022-04-18 at 10.11.29 AM (1).jpeg"  alt="image2" class="image" id="image2">
            <div class="content-4">Lux<span class="design-3">ury</span></div>
        </div>
        
    </div>  
        
</body>
</html>


