<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="nav-bar.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/1292e5dcec.js" crossorigin="anonymous"></script>

</head>
<body>
<nav>
    <div class="container-1">
        <div class="header">VACAYHOME</div>
        <div class="nav-list">
            <a routerLink="" >
                Home</a>
            <a routerLink="" >Confirm Booking</a>
            <a routerLink="" >Log out</a>
        </div>
    </div>
        </nav> 
    </body>